.favorite
  .favorite__title
    %h1 お気に入り一覧
  .favorite__list
    - @likes.each do |like|
      .favorite__list__content
        = image_tag like.item.item_images[0].image.url, class: "favorite__list__content__img"
        .favorite__list__content__detail
          .favorite__list__content__detail__name
            = like.item.name
          .favorite__list__content__detail__price
            = like.item.price
        = link_to item_path(like.item.id), class: ".favorite__list__link" do
          %i.fas.fa-chevron-right