.error
  ページが見つかりません。
  .error__text
    お探しのページはアドレスが間違っているか、削除された可能性があります。
    = link_to root_path do
      = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"