.footer2 {
  height: 250px;
  padding: 40px 0;
  text-align: center;
  position: relative;
  &__link {
    text-align: center;
    li {
      display: inline;
      a {
        color: #333;
        font-size: 12px;
        text-decoration: none;
      }
      span {
        margin-left: 15px;
      }
    }
  }
  .footer__logo {
    margin-top: 50px;
    a {
      color: #333;
      font-size: 12px;
      text-decoration: none;
    }
    img {
      width: 140px;
      height: 40px;
      &:hover{
        opacity: 0.7; 
      }
    }
    p {
      font-size: 13px;;
    }
  } 
}