.footer2 {
  height: 250px;
  padding: 40px 0;
  text-align: center;
  position: relative;
  @media only screen and (min-width:651px) {
    ul {
      display: flex;
      position: absolute;
      left: 140px;
    } 
  }
  @media only screen and (min-width:961px) {
    ul {
      display: flex;
      position: absolute;
      left: 510px;
    }
  }
  li {
    margin-left: 15px;
  }
  a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    
  }
  .footer__logo {
    margin-top: 50px;
  }
  img {
    width: 140px;
    height: 40px;
    &:hover{
      opacity: 0.7; 
    }
  }
  p {
    font-size: 13px;;
  }
}