.header {
  height: 120px;
  width: 100vw;
  background-color: white;
  border-bottom: solid 1px rgb(170, 169, 169);
  &__content {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
    &__menu {
      display: flex;
      padding-top: 15px;
      &__title {
        font-size: 25px;
        text-decoration: none;
        margin-right: 45px;
      }
      &__search-form {
        width: 100%;
        .input-box {
          display: flex;
          width: 100%;
          position: relative;
          &__form {
            height: 40px;
            width: 100%;
            font-size: 15px;
            padding-left: 5px;
          }
          .search-btn {
            width: 36px;
            height: 40px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
          }
        }
      }
    }
    &__bottom {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .left-lists {
        display: flex;
        margin-top: 10px;
        &__category{
          .category-title {
            text-decoration: none;
            font-size: 14px;
            color: black;
            margin-right: 10px;
            padding-bottom: 3px;
          }
        }
        &__brands {
          .brand-title {
            text-decoration: none;
            font-size: 14px;
            color: black;
          }
        }
      }
      .right-lists {
        .user-btn {
          .sign-up-btn {
            display       : inline-block;
            font-size     : 12pt;
            text-align    : center;
            cursor        : pointer;
            padding       : 12px 12px;
            background    : #ff0000;
            color         : #ffffff;
            line-height   : 1em;
            transition    : .3s; 
            text-decoration: none;
          }
          .login-btn {
            display       : inline-block;
            border-radius : 5%;
            font-size     : 12pt;
            text-align    : center;
            cursor        : pointer;
            padding       : 12px 12px;
            background    : #ffffff;
            color         : #00ffff;
            line-height   : 1em;
            transition    : .3s;
            text-decoration: none;
            border: solid 1px #00ffff;
          }
        }
      }
    }
  }
}
.category-box {
  z-index: 1;
  width: 200px;
  background-color: white;
  display: none;
  &__category-parent {
    &__link {
      text-decoration: none;
      color: black;
      font-size: 12px;
      display: block;
      height: 40px;
      padding-left: 5px;
      line-height: 40px;
    }
  }
}
#category-parent-1 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-2 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-3 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-4 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-5 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-6 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-7 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-8 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-9 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-10 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-11 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-12 {
  :hover {
    background-color: #3CCACE;
  }
}
#category-parent-13 {
  :hover {
    background-color: #3CCACE;
  }
}