.purchase__detail {
  &__main {
    .detail__main__content {
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      @media only screen and (min-width:651px) {
        .purchase__name { 
          font-size: 22px;
          padding: 16px;
          text-align: center;
          font-weight: bold;
        }
      }
      @media only screen and (min-width:961px) {
        .purchase__name {
          font-size: 22px;
          padding: 32px;
          text-align: center;
          font-weight: bold;
        }
      }
      .buy__content {
        padding: 24px 16px;
        border-top: 1px solid #f5f5f5;
        text-align: center;
        &__item {
          max-width: 343px;
          margin: 0 auto;
          .buy__item__box {
            display: flex;
            justify-content: center;
            &__image {
              height: 80px;
              width: 80px;
              img {
                width: auto;
                max-height: 80px;
              }
            }
            &__detail {
              margin-left: 16px;
              .buy__name {
                font-size: 14px;
                padding: 0 0 8px;
                line-height: 1.5;
                text-align: left;
              }
              .buy__item__box__detail2 {
                display: flex;
                .buy__icon {
                  font-size: 13px;
                  margin-top: 1px;
                }
                .buy__price {
                  text-align: left;
                  font-size: 12px;
                  font-weight: bold;
                }
                .buy__item_tax__price {
                  display: flex;
                  .buy__tax {
                    font-size: 12px;
                    margin-left: 5px;
                    margin-right: 5px;
                  }
                  .buy__fee {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          .buy__form {
            padding-bottom: 35px;
            .buy__price__table {
              padding-bottom: 24px;
              border-bottom: 1px solid #f5f5f5;
              font-size: 18px;
              display: flex;
              justify-content: space-between;
              font-weight: bold;
              .buy__price__table {
                .buy__price__label {
                }
              }
            }
            .buy__method {
              width: 343px;
              border-bottom: 1px solid #f5f5f5;
              padding: 24px 0;
            }
            .link-btn {
              font-size: 16px;
              text-align: left;
              font-weight: bold;
              text-decoration: none;
              color: #0099e8;
            }
            .buy__shipping {
              width: 343px;
              border-bottom: 1px solid #f5f5f5;
              padding: 24px 0;
              .buy__ship {
                font-size: 14px;
                text-align: left;
                font-weight: bold;
              }
              a {
                display: block;
                margin: 24px 0;
                border: 1px solid #888;
                background: #888;
                color: #fff;
                font-weight: bold;
                width: 50%;
                line-height: 48px;
                font-size: 18px;
                text-decoration: none;
                margin-left: auto;
                margin-right: auto;
              }
            }   
          }
        }    
      }
    }          
  }
}
